@import "variables.module.scss";

.mainDiv {
  display: flex;
  padding-top: 64px;
  gap: 24px;
}

.first {
  width: 604px;
  height: 350px;
  background-color: $bg-color;
  padding: 0 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: $text-color;
  border-radius: 16px;
  gap: 60px;
}

.secFirst {
  padding-top: 32px;
}

.primaryHeading {
  font-size: 22px;
  line-height: 26.4px;
  font-weight: 500;
}

.secondaryHeading {
  margin-top: 8px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $primary-color;
}

.labelDiv {
  height: 52px;
  display: flex;
  align-items: center;
  gap: 8.06px;
  justify-content: left;
  padding: 0 18.82px;
}

.labelDiv:hover {
  background-color: $hover-color;
  border-radius: 8.06px;
}

.label {
  font-weight: 400;
  font-size: 12.1px;
  line-height: 14.52px;
  color: $stack-color;
}

.primaryContainer {
  margin-bottom: 8px;
}

.second {
  width: 604px;
  border-radius: 16px;
  padding: 32px;
  background-color: $secondBg-color;
  height: 350px;
  overflow: scroll;
}

.secondPrimaryHeading {
  font-weight: 500;
  font-size: 22px;
  line-height: 26.4px;
}

.secondSecondaryHeading {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $secondHead-color;
}

.secondbox {
  margin-bottom: 8px;
}

.tableBox {
  margin-top: 38px;
  background-color: $text-color;
  padding: 15px;
  border-radius: 16px;
}

.cell {
  padding: 11px 16px;
  font-size: 12px;
}

/* Responsive Styles */
@media screen and (max-width: 376px) {
  .mainDiv {
    width: 327px;
    flex-direction: column;
    gap: 24px;
  }

  .first {
    width: 327px;
    height: 613px;
    flex-direction: column;
    gap: 8px;
  }

  .secFirst {
    padding-top: 0px;
    height: 158px;
  }

  .primaryContainer {
    margin-bottom: 8px;
  }

  .secondaryContainer {
    width: 229px;
  }

  .labelDiv {
    padding: 18.82px;
  }

  .second {
    width: 327px;
    height: 500px;
    padding: 32px;
  }

  .secondbox {
    margin-bottom: 8px;
  }

  .tableBox {
    width: 530px;
  }
}
