@import "variables.module.scss";

.mainDiv {
  margin-top: 24px;
  gap: 24px;
  display: flex;
  flex-direction: row;
}

.box {
  width: 394.67px;
  height: 350px;
  border-radius: 16px;
  padding: 32px;
  background-color: $secondBg-color;
}

.boxTwo {
  width: 394.67px;
  height: 350px;
  border-radius: 16px;
  padding: 32px;
  background-color: $secondBg-color;
}

.secondBox {
  width: 394.67px;
  height: 350px;
  border-radius: 16px;
  padding: 32px;
  background-color: $secondBg-color;
}

.heading {
  font-size: 22px;
  line-height: 26px;
  font-weight: 500;
  color: $bg-color;
}

.subText {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: $secondHead-color;
  margin-top: 8px;
}

.firstChartBox {
  margin-top: 50px;
  width: 330.6666564941406px;
  height: 134;
  gap: 31px;
  border-radius: 16px;
  padding: 24px;
  background-color: $text-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boxTwoOptionsDiv {
  margin-top: 72px;
  // height: px;
}

.boxTwoOptions {
  width: 60px;
  height: 60px;
  background-color: $text-color;
  border-radius: 12.67px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.boxTwoOptions:hover {
  background-color: $parretHover-color;
  transform: rotate(20deg);
}

.measureLabel {
  margin-top: 33px;
  width: 104px;
  height: 28.79px;
  border-radius: 107.5px;
  background-color: $text-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerTwo {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}





@media screen and (max-width: 376px) {
  .mainDiv {
    flex-direction: column;
    width: 327px;
  }

  .box {
    width: 327px;
    height: 350px;
    gap: -18px;
  }

  .firstChartBox {
    width: 263px;
    height: 121px;
    padding: 24px;
    gap: 10px;
  }

  .topHeading {
    margin-bottom: -12px;
  }

  .boxTwoOptionsDiv {
    margin-top: 68px;
  }

  .secondBox {
    width: 327px;
    height: 412px;
    justify-content: space-between;

  }

  .secondBoxContainer {
    margin-bottom: 49px;
  }


  .boxTwo {
    width: 327px;
    height: 350px;
    border-radius: 16px;
    padding: 0px;
    background-color: $secondBg-color;
  }

  .boxTwoOptionsDiv {
    margin-top: 68px;
    gap: 18px;
    padding-left: 32px;
    
  }

  .containerTwo {
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .iconbox{
    width: 327px;
  }

}