@import "variables.module.scss";

.main {
  gap: 24px;
}

.heading {
  font-size: 22px;
  line-height: 26px;
  font-weight: 500;
  color: $bg-color;
}

.subText {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: $secondHead-color;
  margin-top: 8px;
}

.box {
  margin-top: 24px;
  width: 604px;
  height: 350px;
  gap: 8px;
  border-radius: 16px;
  padding: 32px;
  background-color: $secondBg-color;
}

.boxTwo {
  margin-top: 24px;
  width: 604px;
  height: 350px;
  gap: 32px;
  border-radius: 16px;
  background-color: $secondBg-color;
}

.boxTwoBGImageBox {
  width: 604px;
  height: 350px;
  position: relative;
  display: flex;
  border-radius: 16px;
}

.boxTwoBGImage {
  border-radius: 16px;
}

.customerImages {
  max-height: 88px;
}
.imageContainer{
  margin-top: -6rem;
  width: 293px;
}

@media screen and (max-width: 376px) {
  .main {
    width: 327px;
    gap: 24px;
  }

  .box {
    width: 327px;
    height: 352px;
  }

  .boxTwo {
    width: 327px;
    height: 367px;
  }

  .boxTwoBGImageBox {
    width: 327px;
    height: 367px;
  }
  .boxTwo {
    margin-top: 4px;
  }
  .imageContainer{
    margin-top: -7rem;
  }
  
}