// Variables
$bg-color: #101010;
$text-color: #fff;
$primary-color: #b2b5b6;
$hover-color: #363839;
$stack-color: #888c8f;
$secondBg-color: #f4f5f5;
$secondHead-color: #525456;
$mainHeading-color: #525456;
$parretHover-color: rgb(42, 227, 55);